
<div>
    <h1>Wheather App</h1>
    <div class="mb-3">
        <label  class="form-label fw-bold">Country</label>
        <select id="MySelect2" class="form-select form-select-lg"  asp-items="ViewBag.CarModels">
        </select>

    </div>
    <button type="submit" class="btn btn-primary btn-lg">
        <i class="bi bi-lightning-charge me-2"></i>Get Wheather
    </button>
</div>

